@model RandevuSistemi.Models.Sinif.Hasta
@{
    ViewBag.Title = "HastaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Hasta Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("HastaGuncelle", "Hasta", FormMethod.Post))
{

    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.Label("Adı :")
            @Html.TextBoxFor(x => x.HastaName, new { @class = "form-control" })
            @Html.HiddenFor(x => x.HastaId)
        </div>
        <div class="form-group col-md-6">
            @Html.Label("SoyAdı:")
            @Html.TextBoxFor(x => x.HastaSurName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.Label("TC:")
            @Html.TextBoxFor(x => x.HastaTc, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            @Html.Label("Kan Grubu :")
            @Html.TextBoxFor(x => x.KanGb, new { @class = "form-control" })
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.Label("Doğum Tarihi")
            @Html.TextBoxFor(x => x.HastaDogumT, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            @Html.Label("Telefon:")
            @Html.TextBoxFor(x => x.HastaTelefon, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group ">
        @Html.Label("Açıklama:")
        @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    </div>



    <div class="form-row">
        <button class="btn btn-info"><i class="fa fa-undo"></i> Güncelle</button>
    </div>
}



