@model RandevuSistemi.Models.Sinif.Recete
@{
    ViewBag.Title = "YeniRecete";
    Layout = "~/Views/Shared/_DoktorLayout.cshtml";
}
<br />
<h2>Yeni Recete</h2>

<br />
<form class="form-group" method="post">
    <label>Ilac Adını Giriniz!</label>
    @Html.DropDownListFor(x => x.IlacId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />
    <label>Hasta Giriniz!</label>
    @Html.DropDownListFor(x => x.HastaId, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    <br />
    <label>Reçete yazan doktor Giriniz!</label>
    @Html.DropDownListFor(x => x.DoktorId, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
    <br />
    <label>Protokol No Giriniz!</label>
    @Html.TextBoxFor(x => x.ProtokolNo, new { @class = "form-control" })
    <br />
    <label>Tanı Giriniz!</label>
    @Html.TextBoxFor(x => x.Tanı, new { @class = "form-control" })
    <br />
    <label>Aciklama Giriniz!</label>
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    <label>Tarih Giriniz!</label>
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>